@model IEnumerable<DZ_VILLAGEFUND_WEB.Models.ProjectBudgetDocument>

<table id="JsonTable" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-primary-600">
        <tr>
            <th class="text-center" style="width:50px">ลำดับ</th>
            <th>ชื่อเอกสาร</th>
            <th style="width:100px"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model)
            {
                <tr>
                    <td class="text-center">@Rows.</td>
                    <td>
                        <a href="/uploads/e-project/@Get.GencodeFileName" download="@Get.FileName"><i class="fal fa-download"></i> @Get.FileName </a>
                    </td>
                    <td class="text-center">
                        @if (Get.Approvemark == false)
                        {
                            <a href="javascript:void(0)" class="btn btn-xs btn-danger delete" data-val="@Get.TransactionDocId"><i class="fal fa-eraser"></i> ลบ </a>
                        }
                    </td>
                </tr>

                Rows++;
            }
        }

    </tbody>
</table>