@{
    ViewData["Title"] = "ผังรายรับ-รายจ่าย";
    var GetPermission = ViewBag.Permission as DZ_VILLAGEFUND_WEB.ViewModels.Settings.PermissionViewModel;
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/Index">หน้าหลัก</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>

@*@if (GetPermission.Insert)
    {
    <div class="d-flex justify-content-start flex-wrap demo">
        <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-light" id="Create" data-id="true">
                <i class="fal fa-plus-circle mr-1 fs-xxl color-primary-600"></i><br />
                <span class="fs-nano color-primary-600"> สร้างใหม่</span>
            </a>
        </div>
    </div>
    }*@

<div class="row">
    <div class="col-lg-4 mb-2">
        <select id="BudgetYear">
        </select>
    </div>

    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-edit'></i>  @ViewData["Title"]</h2>
                <a href="javascript:void(0)" id="ImportExcel" class="text-right btn buttons-print btn-outline-success btn-sm"><i class="fal fa-upload"></i> นำเข้าข้อมูล</a>
                <a href="javascript:void(0)" id="ExportExcel" class="btn buttons-excel buttons-html5 btn-success btn-sm mr-1"><i class="fal fa-file-excel"></i> ส่งออกข้อมูล</a>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div id="JsonData"></div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Create -->
<div class="modal fade default-example-modal-right-lg" id="ViewCreateModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"><i class="fal fa-plus"></i> สร้างใหม่</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><i class="fal fa-times"></i></span> </button>
            </div>
            <div class="modal-body">

                <span id="JsonCreateData"></span>

            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>


<!-- form Import -->
<div class="modal fade default-example-modal-right-lg" id="FormImport" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"><i class="ni ni-menu"></i> นำเข้าข้อมูล</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><i class="fal fa-times"></i></span> </button>
            </div>
            <div class="modal-body">

                <span id="JsonImportForm"></span>

            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>


@section Scripts{
    <style>
        .hidden-btn {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/notifications/toastr/toastr.css">
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" href="~/css/notifications/sweetalert2/sweetalert2.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/select2/select2.bundle.css">
    <script src="~/js/Validation/bootstrapValidator.min.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/datagrid/datatables/datatables.export.js"></script>
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script src="~/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script src="~/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/js/NumberFormat.js"></script>
    <script src="~/customJs/eaccount/ChartAccountProject.js"></script>
}
