@model DZ_VILLAGEFUND_WEB.Models.AccountActivity
@{
    bool FormType = Convert.ToBoolean(ViewBag.FormType);
}

<form id="JsonForm" enctype="multipart/form-data"
      asp-antiforgery="true"
      data-bv-message="This value is not valid"
      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
    <div class="panel-content">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @{
                if (FormType == true)
                {
                    <div class="form-group">
                        <label class="form-label"><strong> ประเภทค่าใช้จ่าย</strong><span style="color:red"> *</span></label>
                        <input type="text" asp-for="AccountName" class="form-control col-lg-12 col-md-12 col-sm-12"
                               data-bv-notempty="true"
                               data-bv-notempty-message="กรุณากรอกข้อมูล" />
                    </div>

                    <input type="hidden" name="FormType" id="FormType" value="true">
                    <input type="hidden" asp-for="IsChartCenter" value="true">
                }
                else
                {
                    <div class="form-group">
                        <label class="form-label"><strong> ประเภทค่าใช้จ่าย</strong></label>
                        <input type="text" class="form-control col-lg-12 col-md-12 col-sm-12" value="@ViewBag.AccountName" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong> รายละเอียดค่าใช้จ่าย</strong><span style="color:red"> *</span></label>
                        <input type="text" asp-for="AccountName" class="form-control col-lg-12 col-md-12 col-sm-12"
                               data-bv-notempty="true"
                               data-bv-notempty-message="กรุณากรอกข้อมูล" />
                    </div>

                    <input type="hidden" name="FormType" id="FormType" value="false">
                    <input type="hidden" asp-for="IsChartCenter" value="@ViewBag.IsCenter">
                    <input type="hidden" asp-for="AccountParentId" value="@ViewBag.AccountChartId">

                    <input type="hidden" asp-for="IsChartCenter" value="@ViewBag.IsChartCenter">
                }

            }


            <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center m-3 pt-3">
                <button class="btn btn-primary ml-auto" type="button" id="Submit"> บันทึก</button>
            </div>
        </div>
    </div>
</form>