@{
    ViewData["Title"] = "แจ้งเตือนจากระบบ";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/Index">หน้าหลัก</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol> 
<div class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
    <h1 class="page-error color-fusion-500">
        ERROR <span class="text-gradient">401</span>
        <small class="fw-500">
            คุณไม่ได้รับอนุญาติ
        </small>
    </h1>
    <h3 class="fw-500 mb-5">
       หากต้องการเข้าถึงข้อมูลดังกล่าว กรุณาติดต่อเจ้าหน้าที่ดูแลระบบ
    </h3>
    <h4>
        โทร: 0-2100-4209
    </h4>
</div>