@model DZ_VILLAGEFUND_WEB.Models.Village

<table id="JsonTable" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-primary-600">
        <tr>
            <th class="text-center" style="width:50px">ลำดับ</th>
            <th>ชื่อนิติบุคคล</th>
            <th class="text-center" style="width:200px;">ยกเลิก/ต่ออายุ</th>
            <th class="text-center" style="width:50px;">สถานะ</th>
        </tr>
    </thead>
    <tbody>
        @{
            <tr>
                <td class="text-center"> 1.</td>
                <td> @Model.VillageName</td>
                <td class="text-center">
                    @{
                        if (!ViewBag.TransactionTypeFlag && ViewBag.IsActive)
                        {
                            <a href="javascript:terminate();" class="btn btn-sm btn-danger" title="Terminate"><i class="fal fa-window-close"></i>  ยกเลิก</a>
                            <a href="javascript:renewal();" class="btn btn-sm btn-success" title="Renewal"><i class="fal fa-arrow-alt-circle-up"></i>  ต่ออายุ</a>
                        }
                        else if (!ViewBag.IsActive)
                        {
                            <text>ยกเลิกการเป็นสมาชิก</text>
                        }
                        else
                        {
                            <text>รออนุมัติ</text>
                        }
                    }
                </td>
                <td class="text-center">
                    @{
                        if (Model.IsActive == true)
                        {
                            <i class="fal fa-unlock-alt set-icon-unlock-size"></i> <text>อนุมัติ</text>
                        }
                        else
                        {
                            <i class="fal fa-lock-alt set-icon-lock-size"></i><text>ไม่อนุมัติ</text>
                        }
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
