@{
    // title page
    ViewData["Title"] = "ยื่นแก้ไขกองทุนหมู่บ้าน";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/Index">หน้าหลัก</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-edit'></i>  @ViewData["Title"]</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div id="JsonData"></div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
        <link rel="stylesheet" type="text/css" href="/css/notifications/toastr/toastr.css">
        <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
        <link rel="stylesheet" href="~/css/notifications/sweetalert2/sweetalert2.bundle.css">
        <link rel="stylesheet" media="screen, print" href="~/css/formplugins/select2/select2.bundle.css">
        <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
        <script src="~/js/datagrid/datatables/datatables.export.js"></script>
        <script src="~/js/notifications/toastr/toastr.js"></script>
        <script src="~/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
        <script>
        $("#JsonData").html('<img src="/img/loading.gif" width="200">');
        $.get("/Villages/GetVillageEdit", function (JsonResult) {
            setTimeout(function () {

                $("#JsonData").html(JsonResult);
                $('#JsonTable').dataTable(
                    {
                        responsive: true,
                        lengthChange: false,
                        dom: "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                        buttons: [
                            {
                                extend: 'print',
                                text: 'สั่งพิมพ์',
                                titleAttr: 'Print Table',
                                className: 'btn-outline-primary btn-sm'
                            }
                        ]
                    });

            }, 200);
        });
        </script>
}
