<form id="JsonForm" enctype="multipart/form-data" novalidate
      asp-antiforgery="true"
      data-bv-message="This value is not valid"
      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
    <div class="form-group">
        <label class="form-label">นำเข้าข้อมูล File <label style="color:red">(ขนาดไฟล์ "Excel" ไม่เกิน 50MB) </label></label>
        <div><a href="/Members/ExportFormImportMember?TransactionVillageId=@ViewBag.TransactionVillageId">ดาวน์โหลดไฟล์สำหรับนำเข้าข้อมูล</a></div>
        <input type="file" class="form-control" name="FileUpload" id="FileUpload"
               data-bv-notempty="true"
               data-bv-notempty-message="กรุณาแนบไฟล์"
               accept=".xls,.xlsx"
               pattern="^.*\.(xlsx|XLSX)$"
               data-bv-message="รองรับนามสกุลไฟล์ (xlsx) เท่านั้น" />
    </div>
    <div class="panel-content border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center m-3 pt-3">
        <button class="btn btn-primary ml-auto" type="button" id="Submit">นำเข้าข้อมูล</button>
    </div>
</form>